html {
    background: cornsilk;
}


.nav {
    padding: 1rem;
    text-align: center;
}




#login-info {
   
    margin-top: 1rem;
    text-align: center;

}

#login-info a {
    display: block;
    margin-top: 4rem;
}

